body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

input[type="text"], button {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
}

#translationResult {
    margin-top: 20px;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 5px;
}
