<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Auskanian Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>New Auskanian Translator</h1>
        <p style="font-size: smaller;">By Owen Silberman and Mason Becktell</p>
        <textarea type="text" id="sentenceInput" placeholder="Enter some words" cols="30" rows="10"></textarea><br>
        <button id="translateButton">Translate</button>
        <div id="translationResult"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
